<div>
    <button ng-if="!vm.expanded" class="exp-coll" ng-click="vm.expand()">+</button>
    <button ng-if="vm.expanded" class="exp-coll" ng-click="vm.collapse()">-</button>
    &nbsp;&nbsp;
    <span>{{vm.text}}</span>
    <div ng-if="vm.expanded" style="margin-left:20px" ng-repeat="child in vm.children">
        <my-tree id="{{child.id}}" text="{{child.text}}"></my-tree>
    </div>
</div>
